.App {
  text-align: center;
  max-width: 800px;
  margin:auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 40px;
}

.App-link {
  color: #61dafb;
}
