.formField {
  width: 40%;
  margin: 0 5% 20px 5% !important;
}

.dataGridWrapper {
  flex: 1;
  overflow: auto;
}

.playerDataGrid {
  height: 100% !important;
}

.appForm {
  height: calc(100vh - 40px);
  display: flex;
  flex-flow: column;
  text-align: left;
}

.formFooter {
  height: 60px;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.formFields {
  display: block;
}

.submitButton {
  width: 90px;
}

.footerError {
  flex: 1;
  display: flex;
  justify-content: center;
  color: #F44336;
  font-weight: bold;
}

.rookieDataGrid {
  height: 200px !important;
}

.playerText {
  display: flex;
  justify-content: space-between;
}

.rookieText {
  margin-top: 10px;
}
